<header>My Movie List</header>
<label>
    Filter by Maximum Runtime
    <input type="number" min="40" max="210" step="10" value="30" ng-model="maxRuntime">
</label>
<label>
    Filter by Genre
    <select ng-model="genre">
        <option></option>
        <option>Action</option>
        <option>Adventure</option>
        <option>Animation</option>
        <option>Biography</option>
        <option>Comedy</option>
        <option>Crime</option>
        <option>Documentary</option>
        <option>Drama</option>
        <option>Family</option>
        <option>Fantasy</option>
        <option>Film-Noir</option>
        <option>History</option>
        <option>Horror</option>
        <option>Musical</option>
        <option>Mistery</option>
        <option>Romance</option>
        <option>Sci-Fi</option>
        <option>Sport</option>
        <option>Thriller</option>
        <option>War</option>
        <option>Western</option>
    </select>
</label><br/>
<table>
    <tr>
        <th>Title</th>
        <th>Alarm</th>
        <th>Year</th>
    </tr>
    <tr class="list--element" ng-repeat="x in movies | maxDuration: maxRuntime | filter: {'genre': genre}| orderBy:'title'">
        <td ng-class="{blink_me: {{ x.alarmOn }}}">{{ x.title }}</td>
        <td>{{ x.alarm }}</td>
        <td>{{ x.year }}</td>
    </tr>
</table>